# Local training dataset (Kept locally, excluded from GitHub)
Dataset.csv

# Python compiled files & caches
__pycache__/
*.py[cod]
*$py.class
*.so
*.dll
*.dylib

# Environment & IDE
.env
.venv/
venv/
ENV/
env/
.idea/
.vscode/

# Logs & Temporary Scratch Files
*.log
scratch/
*.zip
*.tar.gz
